@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
* {
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
}

body {
    background-color: #ddd;
    font-size: 18px;
    font-family: 'Oswald', Arial, Helvetica, sans-serif;
    margin: 50px;
}


/* container */

.container {
    display: grid;
    gap: 10px;
}


/* Header */

.header {
    display: grid;
    grid-template-areas: 'hero hero feature-1' 'hero hero feature-2';
}

.hero {
    grid-area: hero;
    min-height: 500px;
    background-image: url(../img/2.jpg);
    background-size: cover;
    background-position: center;
    padding: 50px;
}

.hero>* {
    display: none;
}

.features {
    background-color: black;
    color: white;
    display: grid;
    /* justify-content: center;
    align-content: center; */
    place-content: center;
    text-align: center;
    cursor: pointer;
}

.feature-1 {
    grid-area: feature-1;
    background-image: url(../img/1.jpg);
    background-size: cover;
    background-position: center;
}

.feature-2 {
    grid-area: feature-2;
    background-image: url(../img/3.jpg);
    background-size: cover;
    background-position: center;
}

.features .price {
    font-size: 2em;
    font-weight: 300;
    text-shadow: black;
}

.menu {
    order: -1;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
}

.menu .brand {
    font-size: 1.3em;
    color: #333;
}

.menu ul {
    text-decoration: none;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 5px;
}

.menu .menu-list {
    text-decoration: none;
    transition: all 0.5s;
}

.menu a {
    display: block;
    background-color: #000;
    text-decoration: none;
    text-align: center;
    color: white;
    padding: 5px;
    text-transform: uppercase;
    font-size: 0.9em;
}


/* Hamburger menu */

.menu-toggle {
    z-index: 2;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    height: 20px;
    position: relative;
}

.menu-toggle span {
    display: block;
    width: 28px;
    height: 3px;
    background: black;
    border-radius: 3px;
    transition: all 0.5s;
}

.menu-toggle input {
    display: block;
    position: absolute;
    background-color: black;
    width: 40px;
    height: 28px;
    left: -5px;
    top: -5px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
}

.menu-toggle span:nth-child(2) {
    transform-origin: 0 0;
}

.menu-toggle span:nth-child(4) {
    transform-origin: 0 100%;
}

.menu-toggle input:checked~span:nth-child(2) {
    background-color: white;
    transform: rotate(45deg)translate(-1px, -1px);
}

.menu-toggle input:checked~span:nth-child(4) {
    background-color: white;
    transform: rotate(-45deg)translate(-1px, 0);
}

.menu-toggle input:checked~span:nth-child(3) {
    opacity: 0;
    transform: scale(0);
}


/* Categories */

.categories {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.categories h2 {
    grid-column: 1/-1;
    text-align: center;
    margin-bottom: 20px;
}

.category {
    background-color: white;
    padding: 15px;
    text-align: center;
    border: 1px solid #aaa;
    border-radius: 3px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.category .link {
    text-decoration: none;
    color: black;
}

.category .icon {
    font-size: 3em;
}

.category h3 {
    font-size: 1.2em;
}

.category p {
    font-weight: 200;
    letter-spacing: 1px;
    font-size: 0.8em;
}


/* Product */

.card-product {
    cursor: pointer;
    padding: 1.5rem 1rem;
    width: 200px;
    height: 250px;
    box-sizing: border-box;
    align-items: flex-end;
    position: relative;
    display: flex;
    transition: 0.5s ease-in-out;
    border: 1px solid #aaa;
    border-radius: 3px;
    box-shadow: 0 0 2px rgb(0 0 0 / 30%);
}


/* .card:hover {
    transform: translateY(20px);
} */

.card-product::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 176, 155, 0.5), rgba(150, 201, 61, 1));
    z-index: 2;
    transition: all 0.5s;
    opacity: 0;
}

.card-product:hover::before {
    opacity: 1;
}

.card-product img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.card-product .card-body-product h3 {
    margin: 0;
}

.card-product .card-body-product h5 {
    letter-spacing: 1px;
    font-size: 15px;
    margin-top: 8px;
    margin-bottom: 20px;
}

.card-product .card-body-product {
    position: relative;
    z-index: 3;
    color: #fff;
    opacity: 0;
    transform: translateY(30px);
    transition: all 0.5s;
}

.card-product:hover .card-body-product {
    opacity: 1;
    transform: translateY(0px);
}

.Product {
    gap: 10px;
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.Product h2 {
    grid-column: 1/-1;
    text-align: center;
    margin-bottom: 20px;
}

.Product .image {
    cursor: pointer;
    padding: 10px;
}


/* Footer */

.footer {
    margin-top: 30px;
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
    background-color: #24262b;
    padding: 70px;
}

.footer .container {
    margin: auto;
    max-width: 1170px;
}

.footer .container .row {
    display: flex;
    flex-wrap: wrap;
}

.footer .footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer .footer-col h4 {
    font-size: 18px;
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: red;
    height: 2px;
    box-sizing: border-box;
    width: 110px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #fff;
    text-decoration: none;
    font-weight: 300;
    color: #bbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #fff;
    padding-left: 8px;
}

.footer-col .social-links a {
    padding: 10px;
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #fff;
}

.footer-col .social-links a:hover {
    color: #24262b;
    background-color: whitesmoke;
}


/* Modal */

.modal-body {
    align-items: center;
    margin: 0;
    padding: 0;
}

.modal-body span {
    max-height: 300px;
    margin-right: 25px;
    display: block;
    align-items: center;
}

.modal-body .modal-text {
    position: relative;
    top: 60px;
    left: 10px;
    color: black;
}

.iklan {
    /* width: 50%;
    height: 50%; */
    margin-top: -3em;
    background-image: cover;
}

/* Responsive Breakpoin */

@media(max-width:1024px) {
    .menu {
        order: inherit;
        grid-template-columns: 1fr;
    }
    .menu .brand {
        display: none;
    }
    .hero>* {
        display: block;
        background-color: black;
        color: white;
        padding: 5px;
        margin-bottom: 5px;
    }
    .hero {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }
}

@media(max-width:768px) {
    .menu {
        order: -1;
        justify-items: end;
    }
    .menu-toggle {
        display: flex;
        justify-items: end;
    }
    .menu ul {
        display: flex;
        position: absolute;
        right: 0;
        height: 100vh;
        top: 0;
        background-color: black;
        width: 100%;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        z-index: 1;
        transform: translateY(-100%);
        opacity: 0;
        transition: all 1s;
    }
    .menu ul.slide {
        opacity: 1;
        transform: translateY(0);
    }
    .footer .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width:600px) {
    body {
        margin: 15px
    }
    .header {
        grid-template-areas: 'hero' 'feature-1' 'feature-2';
    }
    .footer .footer-col {
        width: 100%;
    }
}